@media screen {
  .no-screen {
    display: none;
  }
}

@media print{
 *{
     -webkit-print-color-adjust: exact;
 }
	
  .no-print{
    display: none !important;
  }

main{
    padding-top: 0px;
  }

}

@page {
  margin: 10px;
}
