@media screen {
  .no-screen {
    display: none;
  }
}

@media print{
 *{
     -webkit-print-color-adjust: exact;
 }
	
  .no-print{
    display: none;
  }
	
.hide-on-screen {
　　display:block;
}

main{
    padding-top: 0px;
  }

.page-break {
    page-break-after: always;
}
	
}

@page {
  margin: 10px;
}
